In [1]:
#-*- codeing = utf-8 -*-
#获取所有股票代码
import akshare as ak
import pandas as pd
import numpy as np
import os
StockList=ak.stock_info_a_code_name()
for i in range(0,len(StockList)):
    temp=StockList.iloc[i,0]
    if temp[0]=="6":
        temp="sh"+temp
    if temp[0]=="0":
        temp="sz"+temp
    if temp[0]=="3":
        temp="sz"+temp
    StockList.iloc[i,0]=temp
#通过txt形式保存数据，先检测是否存在文件。
#若存在，则在更新股票列表时，先将原有文件删除，再重建文件。
if os.path.exists("./data/stockList.csv"):
           os.remove("./data/stockList.csv")
StockList.to_csv("./data/stockList.csv",index=False,header=True)
#将原有表格删除后，更新原有数据
df=pd.read_csv('./data/stockList.csv')
#查看数据数据及分布
df.describe()
df

/Users/mac/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

          code   name
0     sz000001   平安银行
1     sz000002  万  科Ａ
2     sz000004   ST国华
3     sz000005   ST星源
4     sz000006   深振业Ａ
...        ...    ...
5008    873122    中纺标
5009    873169   七丰精工
5010    873223   荣亿精密
5011    873339   恒太照明
5012    873527    夜光明

[5013 rows x 2 columns]

In [3]:
#-*- codeing = utf-8 -*-
#删掉创业板
StockList=pd.read_csv('./data/stockList.csv')
for i in range(0,len(StockList)):
    temp=StockList.iloc[i,0]
    if temp[:5]=="sz300" or temp[:5]=="sz301" or temp[:5]=="sh688"or temp[:5]=="sh689" or temp[:1]!='s':
        StockList.iloc[i,0]='null'
StockList.drop(StockList.index[StockList['code']=="null"],inplace=True)

StockList=StockList.reset_index(drop=True)
#通过txt形式保存数据，先检测是否存在文件。
#若存在，则在更新股票列表时，先将原有文件删除，再重建文件。
if os.path.exists("./data/stockList_del_cyb.csv"):
           os.remove("./data/stockList_del_cyb.csv")
StockList.to_csv("./data/stockList_del_cyb.csv",index=False,header=True)
#将原有表格删除后，更新原有数据
df=pd.read_csv('./data/stockList_del_cyb.csv')
#查看数据数据及分布
df.describe()
df

          code   name
0     sz000001   平安银行
1     sz000002  万  科Ａ
2     sz000004   ST国华
3     sz000005   ST星源
4     sz000006   深振业Ａ
...        ...    ...
3162  sh605580   恒盛能源
3163  sh605588   冠石科技
3164  sh605589   圣泉集团
3165  sh605598   上海港湾
3166  sh605599   菜百股份

[3167 rows x 2 columns]

In [4]:
import pandas as pd
import numpy as np
import os
#-*- codeing = utf-8 -*-
#无前缀
StockList=pd.read_csv('./data/stockList_del_cyb.csv')
for i in range(0,len(StockList)):
    temp=StockList.iloc[i,0]
    #if temp[:5]=="sz300" or temp[:5]=="sz301" or temp[:5]=="sh688"or temp[:5]=="sh689" or temp[:1]!='s':
    StockList.iloc[i,0]=temp[2:]
#StockList.drop(StockList.index[StockList['code']=="null"],inplace=True)

#StockList=StockList.reset_index(drop=True)
#通过txt形式保存数据，先检测是否存在文件。
#若存在，则在更新股票列表时，先将原有文件删除，再重建文件。
if os.path.exists("./data/stockList_del_cyb_qian.csv"):
           os.remove("./data/stockList_del_cyb_qian.csv")
StockList.to_csv("./data/stockList_del_cyb_qian.csv",index=False,header=True)
#将原有表格删除后，更新原有数据
df=pd.read_csv('./data/stockList_del_cyb_qian.csv')
#查看数据数据及分布
df.describe()
df

        code   name
0          1   平安银行
1          2  万  科Ａ
2          4   ST国华
3          5   ST星源
4          6   深振业Ａ
...      ...    ...
3162  605580   恒盛能源
3163  605588   冠石科技
3164  605589   圣泉集团
3165  605598   上海港湾
3166  605599   菜百股份

[3167 rows x 2 columns]

In [ ]:
import pandas as pd
import akshare as ak
import datetime
from sqlalchemy import create_engine


stock_zh_a_spot_em_df = ak.stock_zh_a_spot_em()
stock_zh_a_spot_em_df['date']=datetime.datetime.now().strftime("%Y-%m-%d")
print(stock_zh_a_spot_em_df)

#连接引擎
conn = create_engine('mysql+pymysql://root:admin@localhost:3306/FirstDataBase?charset=utf8')
#写入数据库
pd.io.sql.to_sql(stock_zh_a_spot_em_df,'stock_zh_a_spot_em',con=conn,if_exists='append',index
                 =False)


#关闭
conn.dispose()

In [5]:
import pandas as pd
import akshare as ak
import datetime
from sqlalchemy import create_engine

StockList=pd.read_csv('./data/stockList_del_cyb.csv')
for i in range(0,len(StockList)):
    temp=StockList.iloc[i,0]
    #if temp[:5]=="sz300" or temp[:5]=="sz301" or temp[:5]=="sh688"or temp[:5]=="sh689" or temp[:1]!='s':
    StockList.iloc[i,0]=temp[2:]

conn = create_engine('mysql+pymysql://root:admin@localhost:3306/FirstDataBase?charset=utf8')
#写入数据库
pd.io.sql.to_sql(StockList,'stockList_del_cyb_qian',con=conn,if_exists='append',index
                 =False)

In [6]:
sql1='''select * from stockList_del_cyb_qian'''
df=pd.read_sql_query(sql1,conn)
df

        code   name
0     000001   平安银行
1     000002  万  科Ａ
2     000004   ST国华
3     000005   ST星源
4     000006   深振业Ａ
...      ...    ...
3162  605580   恒盛能源
3163  605588   冠石科技
3164  605589   圣泉集团
3165  605598   上海港湾
3166  605599   菜百股份

[3167 rows x 2 columns]